.logo_navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    background-image: url(./images/header_background.png);
    background-size:cover;
    height: 80px;
}

#logo {
    margin: 50px;
}


.links {
    font-family: Helvetica;
    padding: 30px;
    text-decoration: none;
    text-shadow: #EFDECD;
    color:cornflowerblue;
    font-size: larger;
}

/* #jumps {

} */

#eskinita_fighters {
    position: absolute;
    z-index: 10;
}

#sky_overlay {
    position: absolute;
    z-index: 5;
    height: 500px;
    width: 1245px;
    opacity: .3;
    object-fit:cover;
    mix-blend-mode:overlay;
}

#featured {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 500px;

    background-image: url(./images/latest_proj_background.jpg);
    background-color: #9bddff;
    background-blend-mode:soft-light;

}


.projects {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    
    background-image: url(./images/proj_background.jpg);
    background-size:contain;
    background-blend-mode:overlay;
    background-color: #EFDECD;
    height: 300px;
}

.proj {
    width: 50px;
    height: 50px;
}


.skills_autobiography {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    
    background-image: url(./images/latest_proj_background.jpg);
    background-color: #9bddff;
    background-blend-mode:soft-light;

    height: 400px;
}

#skills {
    width: 300px;
    padding: 25px;
}

#autobiography {
    width: 600px;
    padding: 25px;
}


.footer {
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: row;
    background-image: url(./images/header_background.png);
    background-size:cover;

    height: 100px;
}



.proj {
    background-color: yellow;
    height: 200px;
    width: 200px;
}


.info {
    height: 100px;
    width: 300px;

}

#credentials {
    font-size: small;
    font-family:Helvetica;
}

#contact {
    font-size: small;
    font-family:Helvetica;
    text-align: left;
}

#uplb_logo, #ics_logo {
    max-width: 80px;
}
